<div class="sidebar bg-primary text-white">
  <div class="sidebar-header">
    <h3 class="d-flex align-items-center mb-0">
      <img src="<%= assets_path %>icon-contrast.png" height="40" width="40" alt="" class="icon me-2">
      Innova ULima
    </h3>
  </div>
  <hr>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link <%= 'active' if @nav_link == 'home' %>" href="/">
        <i class="fa fa-home me-2"></i> Inicio
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link <%= 'active' if @nav_link == 'master-data' %>" href="/admin/master-data">
        <i class="fa fa-cc-mastercard me-2"></i> Datos Maestros
      </a>
    </li>
  </ul>
</div>