<main class="main-content">
  <div class="container-fluid">
    <h3 class="mb-4">
      <i class="fa fa-cc-mastercard me-2"></i>Gestión de Datos Maestros
    </h3>

    <div class="card mb-4">
      <div class="card-header">
        <h6 class="mb-0">
          <i class="fa fa-list me-2"></i>
          Datos Académicos
        </h6>
      </div>
      <div class="card-body">
        <ul>
          <li>Para la Gestión de Periodos Académicos haga click <a href="/admin/period">Aquí</a></li>
        </ul>
      </div>
    </div>

     <div class="card mb-4">
      <div class="card-header">
        <h6 class="mb-0">
          <i class="fa fa-list me-2"></i>
          Programas y Convocatorias
        </h6>
      </div>
      <div class="card-body">
        <ul>
          <li>Para la Gestión de Tipos de Programas haga click <a href="/admin/program-type">Aquí</a></li>
          <li>Para la Gestión de Industrias haga click <a href="/admin/industry">Aquí</a></li>
        </ul>
      </div>
    </div>

     <div class="card mb-4">
      <div class="card-header">
        <h6 class="mb-0">
          <i class="fa fa-list me-2"></i>
          Mentorías
        </h6>
      </div>
      <div class="card-body">
        <ul>
          <li>Para la Gestión de Especialidades de Mentores haga click <a href="/admin/specialism">Aquí</a></li>
          <li>Para la Gestión de Mentores haga click <a href="/admin/period">Aquí</a></li>
        </ul>
      </div>
    </div>
  </div>
</main>