<main class="main-content">
  <div class="container-fluid">
    <h3 class="mb-4">
      <a href="/admin/master-data"><i class="fa fa-cc-mastercard me-2"></i>Gestión de Datos Maestros</a> / Gestión de Periodos Académicos
    </h3>

    <div class="card mb-4">
      <div class="card-header">
        <h6 class="mb-0">
          <i class="fa fa-list me-2"></i>
          Lista de Periodos
        </h6>
      </div>
      <div class="card-body">
        
      </div>
    </div>
  </div>
</main>